body {
  margin: 0;
	padding: 0 ;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper-shadow {
  margin: 0 auto;
  width: 1200px;
  height: auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px 15px rgba(0, 0, 0, 0.2);
}

a {
  	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.offers-list,
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  /*max-*/width: 1200px;
  /*min-width: 768px;*/
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;

  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 70px;

  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-navigation {
  max-width: 1056px;
  /*min-width: 676px;*/
  margin: 0 auto;
  padding: 15px 73px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation-item {
  width: 240px;
}

.site-navigation-item:first-child,
.site-navigation-item:nth-child(2) {
  text-align: left;
}

.site-navigation-item:nth-child(2) {
  margin-right: auto;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:last-child {
  text-align: right;
}

.site-navigation-item:nth-child(3){
  margin-left: auto;
}

.main-photo {
  /*min-width: 768px;*/
 /*max-*/width: 1200px;

  margin-top: -56px;
}

.entry {
	text-align: center;
	line-height: 26px;

  margin-top: -160px;
  margin-bottom: 50px;
}

.intro {
	font-size: 21px;
  font-weight: bold;
  color: #000000;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.caption {
  margin: 0;
  padding: 0;
}

.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.offers-item,
.features-item,
.modal-data-current {
  text-align: center;
}

.offers-item {
  width: 400px;
}

.offer-reclame {
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
}

.offer-title,
.feature-title {
  font-size: 21px;
  line-height: 21px;

  margin: 0;
  padding: 0;
}

.offer-title {
  position: relative;

  margin-bottom: 25px;
  margin-top: 160px;
}

.offer-house::before {
  content: url("../img/icon-1.svg");

  position: absolute;
  left: 50%;
  top: -100px;
  margin-left: -40px;

  width: 75px;
  height: 72px;

  background-color: #ffffff;
}

.offer-food::before {
  content: url("../img/icon-3.svg");

  position: absolute;
  left: 50%;
  top: -100px;
  margin-left: -40px;

  width: 75px;
  height: 72px;

  background-color: #ffffff;

}

.offer-souvenirs::before {
  content: url("../img/icon-2.svg");

  position: absolute;
  left: 50%;
  top: -105px;
  margin-left: -40px;

  width: 75px;
  height: 72px;

  background-color: #ffffff;

}
.feature-title {
  margin-top: 45px;
  margin-bottom: 25px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature-city,
.feature-bridge {
  background-color: #81b3d2;
  color: #ffffff;
  height: 256px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-bridge {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

}

.definition {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 60px;
}

.add-on {
  background-color: #eeeeee;

  margin-bottom: 50px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: distribute;
  justify-content: space-around;
}


.description {
  width: 400px;
}

.portrait {
  max-width: 800px;
}

.modal-title {
	font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.modal-tip {
  line-height: 24px;

  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  display: block;
  margin: 0 auto;
}

.button a {
  color: #ffffff;
}

.modal-close {
  background-color: #766357;

  padding: 30px 143px;

  position: relative;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #604e43;
}

.modal-close:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.modal {
  display: none;
  color: #000000;
  background-color: #ffffff;

  -webkit-box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.25);

  position: absolute;
  left: 50%;
  margin-left: -285px;
  padding: 55px;
  z-index: 1;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.3s;
  animation: bounce 0.3s;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }
    50% {
        -webkit-transform: scaleY(0.9);
                transform: scaleY(0.9);
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}

@keyframes bounce {
    0% {
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(0.9);
    }
    100% {
        transform: scaleY(1);
    }
}

.modal-form-group {
  font-weight: bold;
  line-height: 26px;
  position: relative;

  margin-bottom: 25px;
}

.modal-form-group:nth-child(2){
  margin-bottom: 30px;
}

.modal-form-group:last-child {
  margin-bottom: 55px;
}

.modal-form-group input {
  font-family: inherit;
  font-size: inherit;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 346px;
  padding: 6px 14px;
  padding-right: 40px;


}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

 label{
  margin-right: 15px;
}

.input-wrapper .modal-form-group:first-of-type {
  margin-right: 90px;
}

.input-wrapper .modal-form-group > label {
  margin-right: 75px;
}

.input-wrapper label[for="children"] {
  margin-right: 55px;
}

.calendar {
  background-color: transparent;
  fill: #cacaca;
  padding: 0;
  margin: 0;

  position: absolute;
  width: 21px;
  height: 22px;

  border: none;
  right: 10px;
  top: 5px;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

input.select-child ,
input.select-adults  {
  text-align: center;

  width: 40px;
  height: 40px;
  padding: 5px 14px;
  position: relative;
}

.modal-form-group input:hover {
  background-color: #ebebeb;
}

.modal-form-group input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.amount-btn {
  position: absolute;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: #f2f2f2;
  color: #a9a9a9;
  border: none;

  cursor: pointer;
}

.amount-btn:hover,
.amount-btn:focus {
  color: #000000;
}

.amount-btn:active {
  color: #81b3d2;
  z-index: 1;
}

.minus {
  right: 40px;
  top: 0;
}

.plus {
  right: -40px;
  top: 0;
}

.minus::before {
  position: absolute;
  left: 15px;
  content: "";

  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus::before,
.plus::after {
  position: absolute;
  left: 15px;
  content: "";

  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background-color: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
  background-color: #81b3d2;
}


.search {
  background-color: #81b3d2;
  width: 100%;

  padding: 15px 198px;
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.map {
  max-height: 594px;
  position: relative;
}

.map div {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.map iframe {
  z-index: 2;

  border: none;
}

.main-footer {
  position: relative;
  max-height: 120px;

}

.main-page {
  position: absolute;
}

.footer-wrapper {
  background-color: rgba(255, 255, 255, 0.9);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding-top: 35px;
  padding-bottom: 35px;
}

.inviting,
.social,
.footer-copyright {
  width: 400px;
  text-align: center;
}

.inviting {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-top: 10px;
}

.social-list {
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  width: 150px;
  margin: 0 auto;
  padding: 0;

}

.social-btn {
  background-color: #81b3d2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 46px;
  height: 48px;
}

.social-btn:hover,
.social-btn:focus{
  background-color: #669ec0;
}


.social-btn:active path{
  fill: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.copyright {
  line-height: 26px;
  color: #000000;
  margin-right: 10px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link:hover path,
.link:focus path {
  fill: #82b4d2;
}

.link:active path {
  fill: rgba(0, 0, 0, 0.3);
}


.filter-list,
.catalog-list,
.sort-list {
  list-style: none;
}

.filters {
  background-color: #81b3d2;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	color: #ffffff;

  width: 1056px;
  padding: 0 73px;
}

.filter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-list {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.facilities,
.hotels  {
  width: 240px;
}

.facilities {
  margin-right: 15px;
}

.filter-item {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-item label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input:hover + label,
.filter-input:active + label {
  color: #ffffff;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: url(../img/checkbox-off.svg);
  position: absolute;
  left: -40px;
  top: -5px;

  width: 23px;
  height: 23px;
}

.filter-input-checkbox:checked + label::after {
  content: url(../img/checkbox-on.svg);

  position: absolute;
  top: -5px;
  left: -40px;

  width: 23px;
  height: 23px;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-input:disabled + label:before {
  opacity: 0.5;
}

.value {
  width:318px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  margin-top: 25px;
  margin-bottom: 30px
}

.value .filter-title {
  margin-bottom: 9px;
}

.filter-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 6px 32px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.price-controls {
  position: relative;

  height: 35px;
  margin-bottom:20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  margin-left: 65px;
  margin-right: 5px;
}

.price-controls input {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: middle;
  text-align: left;
}

.price-controls .max-price {
  margin-left: 90px;
}

.price-controls input {
  width: 35px;
  margin: 0;

  color: inherit;
  font: inherit;
  vertical-align: middle;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
  margin-left: 1px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover,
.range-toggle:focus {
  border-width: 9px;
  top: -10px;

  background: #1c4f80;
}

.catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 1056px;
  padding: 0 73px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.total {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 47px;
}

.title {
  margin-right: 40px;
}

.sort-list {
  margin: 0;
  padding: 0;
  width: 240px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort a {
  font-size: inherit;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sort a:hover,
.sort a:focus,
.sort-item-current {
  color: #81b3d2;
}

.sort a:active {
  border-bottom: none;
  color: #000000;
}

.switch {
  margin-top: 35px;
}

.switch-up {
  margin-right: 10px;
}

.switch-up a:hover polygon,
.switch-up a:focus polygon,
.switch-down a:hover path,
.switch-down a:focus path {
  fill: #000000;
}

.switch-up a:active polygon,
.switch-down a:active path,
.switch-current path {
  fill: #81b3d2;
}

.catalog-header,
.catalog-item {
  border-bottom: 1px solid #e5e5e5;
}


.hotel-name a,
.total {
	font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name a:hover,
 .hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-left: 73px;
  padding-right: 73px;
}

.catalog-item-image {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-top: 25px;
  margin-bottom: 25px;

   -webkit-box-flex: 1; -ms-flex-positive: 1;
  flex-grow: 1;
}

.hotel-name,
.information p {
  margin: 0;
  padding: 0;
}

.hotel-name {
  margin-bottom: 8px;
}

.information p:first-of-type {
  margin-bottom: 10px;
}

.catalog-item:first-child .place {
  margin-right: 40px;
}

.catalog-item:nth-child(2) .place {
  margin-right: 65px;
}

.catalog-item:last-child .place {
  margin-right: 20px;
}

.ratings-item p{
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;

  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-bottom: 25px;
  padding: 3px 15px;
}

.star-rating {
  margin-top: 30px;
  margin-bottom:40px;
  margin-left: auto;
  width: 85px;
  height: 23px;

  background-color: #ffffff;
  background-image: url("../img/star.svg");
  background-repeat: space;
}


.star-rating-1 {
  width: 65px;
  margin-left: auto;
}

.star-rating-2 {
  width: 41px;
  margin-left: auto;
}

.btn{
  font: inherit;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  display: inline-block;
  padding: 4px 17px;
}

.btn-info {
	background-color: #81b3d2;

  margin-right: 5px;
}

.btn-info:hover {
  background-color: #669ec0;
}

.btn-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.btn-booking {
	background-color: #766357;
}

.btn-booking:hover {
  background-color: #604e43;
}

.btn-booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}


